@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";   
}

<style>
    .btn-success{
        width:160px;
    }
</style>

<div class="text-center">
    <h1 class="display-4">Login</h1>


</div>
<br />


<div class="container-fluid">
    <form class="mt-5" method="post">
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <label asp-for="Cuenta.CorreoElectronico"></label>
                <input type="text" role="textbox" class="form-control form-text form-control" asp-for="@Model.Cuenta.CorreoElectronico" />
            </div>
            <div class="col-md-4"></div>
        </div>
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <label asp-for="Cuenta.Contraseña"></label>
                <input type="password" role="textbox" class="form-control form-text form-control" asp-for="@Model.Cuenta.Contraseña" />
            </div>
            <div class="col-md-4"></div>
        </div>
        <div class="text-center">
            <a asp-page="/Containers/RegistroTutor" class="text-center">Ir a Registrarme</a>
        </div>
        <div class="row">
            <div class="col-md-5"></div>
            <div class="col-md-2">
                <button type="submit" class="btn btn-success m1">Iniciar Sesión</button>

            </div>
            <div class="col-md-5"></div>
        </div>
    </form>
       
</div>
