@page
@model TestAutismoUI.Pages.Containers.CuestionarioModel
@{
    ViewData["Title"] = "Cuestionario";
    int numero = Model.numero + 1;
}
<style>
    .button {
        width: 110px;
        height: auto;
    }

    .boton {
        height: 300px;
        width: 300px;
        border-radius: 50%;
        border: 1px solid red;
    }

    .card {
        height: 250px;
    }
</style>


<h1 class="text-center">Cuestionario</h1>

<form class="mt-3" method="post">
    <div class="form-row">

        <div class="card form-group col-md-12">
            <div class="card-header text-center">
                Pregunta
            </div>
            <div class="card-body">
                <blockquote class="blockquote mb-0">
                    <input hidden asp-for="Respuesta.NinioId" />
                    <input hidden asp-for="Respuesta.PreguntaId" />
                    
                    <input hidden asp-for="pregunta.Id" />
                    @Model.pregunta.PreguntaRealizada
                    
                    @foreach(var item in Model.respuestas)
                    {
                        if(Model.Respuesta.NinioId==item.NinioId && Model.Respuesta.PreguntaId == item.PreguntaId)
                        {
                            <input hidden asp-for="Respuesta.Id" value="@item.Id"/>
                        }
                    }
                    <p />
                    <div>
                         <input hidden asp-for="preguntarealizada"/>                     
                    </div>
                    @foreach (var item in Model.Respuestas)
                    {
                        <label>
                            <input type="radio" asp-for="Respuesta1" value="@item" id="Respuesta1@(item)" />
                            @item
                            <apan></apan>
                        </label>
                        <br />
                    }
                </blockquote>
            </div>
        </div>

    </div>


    <div class="form-group row">
        @if (Model.pregunta.Id <= 1)
        {
            <div class="col-md-8"></div>
            <button type="submit" class="btn btn-success button m-1" onclick="Guardar()">Guardar</button>
            <button type="submit" class="btn btn-success button m-1" onclick="Aumentar()">Siguiente</button>
        }
        else if (Model.pregunta.Id >= 23)
        {
            <div class="col-md-8"></div>            
            <button type="submit" class="btn btn-success button m-1" onclick="Guardar()">Guardar</button>
            <button type="submit" class="btn btn-success button m-1" onclick="Disminuir()">Anterior</button>
            <button type="submit" class="btn btn-success button m-1" onclick="Terminar()">Terminar</button>

        }
        else
        {
            <div class="col-md-8"></div>
            <button type="submit" class="btn btn-success button m-1" onclick="Guardar()">Guardarr</button>
            <button type="submit" class="btn btn-success button m-1" onclick="Disminuir()">Anterior</button>
            <button type="submit" class="btn btn-success button m-1" onclick="Aumentar()">Siguiente</button>

        }
    </div>
</form>


@section Scripts{
    <script>
        var mas = "mas";
        var menos = "menos"
        var igual = "igual"
        var guardar = "guardar"
        var terminar="terminar"
        function Aumentar() {            
            var type = document.getElementById("preguntarealizada").value =mas;
        }
        function Disminuir() {
            var type = document.getElementById("preguntarealizada").value = menos;
        }
        function Guardar() {
            var type = document.getElementById("preguntarealizada").value = guardar;
        }
        function Terminar() {
            var type = document.getElementById("preguntarealizada").value =terminar;
        }
    </script>
}
