@page
@model TestAutismoUI.Pages.Containers.ModificarNinioModel
@{
    ViewData["Title"] = "ModificarNinio";
}
<h1 class="text-center">Modificar Datos del Niño</h1>
<p>@Model.ninio.NombreCompletoNiño</p>