@page
@model TestAutismoUI.Pages.Containers.ResultadosModel
@{
    ViewData["Title"] = "Resultados";
}
<h1 class="text-center">Resultados</h1>

<form method="post">
    <button type="submit" class="btn btn-danger float-right" value="Export To PDF"> Exportar PDF</button>

    <input hidden asp-for="Ninio.TutorId" />
    <input hidden asp-for="Ninio.Id" />
</form>

<br />
<br />
<input class="btn btn-danger" type="button" onclick="GeneratePDF()" value="export pdf" />
<h3 class="text-center">Maestro Pase la guia de las graficas, para que pueda ponerselo aqui</h3>
<br />
<br />
<table class="table" style="max-width:10160px">
    <thead class="thead-dark">
        <tr>
            <th scope="col" class="text-center">Tipo de Pregunta</th>
            <th scope="col" class="text-center">Falladas</th>

        </tr>
    </thead>

    <tbody>
        <tr>
            <td class="text-center">Normal</td>
            <td class="text-center">???</td>
        </tr>
        <tr>
            <td class="text-center">Especial</td>
            <td class="text-center">???</td>
        </tr>
    </tbody>
</table>



<div>
    <h2>Ver Respuestas</h2>
    <input type="button" value="Ver Respuestas" class="btn btn-success" onclick="GetRespuestas()" />
    <div id="dynamicTable" class="table-responsive table-responsive-md"></div>
</div>
@section Scripts{
    <script src="~/lib/pdfmake/pdfmake.min.js"></script>
    <script src="~/lib/pdfmake/vfs_fonts.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {

        })         
        function GetRespuestas() {
            $.ajax({
                url: "?id=" +@Model.Ninio.Id+"&handler=AsyncGetRespuestas",
                method: "GET"
            }).done(function (data) {
                //alert("Felicidades se ha ejecutado sin error")
                CreateTable(data);
            }).fail(function (jqXHR, textStatus, error) {
                alert("lo sentimos ha habido un error");
            });
        }

        function CreateTable(data) {
            var colums = [];
            $.each(data[0], function (key, val) {
                colums.push(key)
            });


            var Table = document.createElement("table");
            Table.className = "table table-striped table-info"


            var Thead = document.createElement("thead");
            Thead.className = "thead-dark"
            var tr = Thead.insertRow(-1);
            $.each(colums, function (index, value) {
                var th = document.createElement("th");
                th.innerHTML = value;
                tr.appendChild(th);
            });
            Table.append(Thead);


            var Tbody = document.createElement("tbody");
            $.each(data, function (index, obj) {
                var tr = Tbody.insertRow(-1);
                $.each(obj, function (index, property) {
                    if (property != null) {
                        var cell = tr.insertCell(-1);
                        cell.innerHTML = property
                    }

                })
            });
            Table.append(Tbody);


            var Respuesta = $("#dynamicTable");
            Respuesta.innerHTML = '';
            Respuesta.append(Table)
        }

        function GeneratePDF() {            
            var win = window.open('', '_blank');
            var docDefinition = { content: "This is an sample PDF printed with pdfMake" };

            pdfMake.createPdf(docDefinition).open({}, win);
        }
    </script>

}









