@page
@model TestAutismoUI.Pages.Containers.ResultadosModel
@{
    ViewData["Title"] = "Resultados";
    int noautismo =100- Model.resultado;
}
<h1 class="text-center">Resultados</h1>

<form method="post">
    <button type="submit" class="btn btn-danger float-right" value="Export To PDF"> Exportar PDF</button>
    
    <input hidden asp-for="Ninio.TutorId" />
    <input hidden asp-for="Ninio.Id" />
</form>
<button class="btn btn-primary" onclick="generatedPdfFile()"></button>
<br />
<br />
<table class="table" style="max-width:10160px">
    <thead class="thead-dark">
        <tr>
            <th scope="col" class="text-center">Resultados</th>
            <th scope="col" class="text-center">Prcentajes</th>
        </tr>
    </thead>

    <tbody>
        <tr>
            <td class="text-center">Probabilidad de Tener autismo</td>
            <td class="text-center">@Model.resultado %</td>
        </tr>
        <tr>
            <td class="text-center">Probabilidad de no tener autismo</td>
            <td class="text-center">@noautismo %</td>
        </tr>
    </tbody>
</table>
<br />
<br />
<table class="table" style="max-width:10160px">
    <thead class="thead-dark">
        <tr>
            <th scope="col" class="text-center">Tipo de Pregunta</th>
            <th scope="col" class="text-center">Falladas en el cuestionario</th>
           
        </tr>
    </thead>

    <tbody>
        <tr>
            <td class="text-center">Normal</td>
            <td class="text-center">@Model.Normales</td>
        </tr>
        <tr>
            <td class="text-center">Especial</td>
            <td class="text-center">@Model.criticas</td>
        </tr>
    </tbody>
</table>



<div>
    <h2>Ver Respuestas</h2>
    <input type="button" value="Ver Respuestas" class="btn btn-success" onclick="GetRespuestas()" />
    <div id="dynamicTable" class="table-responsive table-responsive-md"></div>
</div>
@section Scripts{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.66/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.66/vfs_fonts.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {

        })

        

        function GetRespuestas() {
            var arr=[]
            $.ajax({
                url: "?id=" +1+"&handler=AsyncGetRespuestas",
                method: "GET"
            }).done(function (data) {
                //alert("Felicidades se ha ejecutado sin error")
                //CreateTable(data);
                arr = [['First', 'Second', 'Third', 'The last one'], ['Value 1', 'Value 2', 'Value 3', 'Value 4'], [{ text: 'Bold value', bold: true }, 'Val 2', 'Val 3', 'Val 4']];

            }).fail(function (jqXHR, textStatus, error) {
                alert("lo sentimos ha habido un error");
            });
            return arr
        }

        function CreateTable(data) {
            var colums = [];
            $.each(data[0], function (key, val) {
                colums.push(key)
            });

            
            var Table = document.createElement("table");
            Table.className = "table table-striped table-info"


            var Thead = document.createElement("thead");
            Thead.className = "thead-dark"
            var tr = Thead.insertRow(-1);
            $.each(colums, function (index, value) {
                var th = document.createElement("th");
                th.innerHTML = value;
                tr.appendChild(th);
            });
            Table.append(Thead);


            var Tbody = document.createElement("tbody");
            $.each(data, function (index, obj) {
                var tr = Tbody.insertRow(-1);
                $.each(obj, function (index, property) {
                    if (property != null) {
                        var cell = tr.insertCell(-1);
                        cell.innerHTML = property
                    }

                })
            });
            Table.append(Tbody);


            var Respuesta = $("#dynamicTable");
            Respuesta.innerHTML = '';
            Respuesta.append(Table)
        }

        function Holas() {
            var arr = [['First', 'Second', 'Third', 'The last one'], ['Value 1', 'Value 2', 'Value 3', 'Value 4'], [{ text: 'Bold value', bold: true }, 'Val 2', 'Val 3', 'Val 4']];
            return arr
        }

        function generatedPdfFile() {
            var hola = GetRespuestas();
            var hola2 = hola.arr;
            var win = window.open('', '_blank');
            var docDefinition = {
                content: [
                    {

                        
                        table: {
                            // headers are automatically repeated if the table spans over multiple pages
                            // you can declare how many rows should be treated as headers
                            

                            body: [
                                hola.map(function (item) {
                                    return item
                                })
                            ]
                        }
                    }
                ]
            };


            pdfMake.createPdf(docDefinition).open({}, win);
        }
    </script>
}